.track_order_header {
    padding: 20px;
    text-align: center;
}
.order_tracking_form{
    width: 70%;
    margin: 0px auto;
}
.order_tracking_input {
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    appearance: none;
    border-radius: .25rem;
    outline: none;
    margin: 10px auto;
}
.track_order_submit {
    margin: 5px 0px 40px 0px;
}
.track_order_submit_btn{
    background: #ef8341;
    border: none;
    padding: 10px 20px;
    color: white;
    border-radius: 5px;
}