
.shipping_content {
    display: flex;
    justify-content: space-between;
    margin-bottom: 12px;
}

.shipping_header {
    font-weight: 600;
    font-size: 20px;
    color: rgb(29, 25, 25);
}

.shipping_line {
    height: 1px;
    margin: 50px 0px;
    padding: 0px;
}

.shipping_address_box {
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    border-radius: 5px;
    padding: 20px;
    font-size: 14px;
    margin: 20px;
}

.shipped_person {
    display: flex;
    justify-content: space-between;
}

.default_btn {
    color: #41efb2;
    font-weight: 600;
    cursor: pointer;
 

}

.set_default_btn {
    color: #ef8341;
    font-weight: 600;
    cursor: pointer;
   
}

.add_more_address_btn {
    text-align: center;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    width: 98%;
    margin: 0px auto;
    padding: 10px 0px;
    cursor: pointer;
    color: #ef8341;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

.add_more_address_btn i {
    font-size: 24px;
}

.add_more_address_btn span {
    font-weight: bold;
    font-size: 18px;
}
.shipping_close{
    display: flex;
    justify-content: end;
    width: 98%;
}
.shipping_close_btn{
    background: #ef8341;
    margin: 40px 0px 0px 0px;
    padding: 5px 40px;
    border-radius: 5px;
    cursor: pointer;
    color: white;
}


/* modal css */
.shipping_modal_container {
    min-height: 450px;
    width: 900px;
}

.shipping_modal_content {
    display: flex;
    justify-content: space-between;
    margin-bottom: 12px;
}

.shipping_modal_header {
    font-weight: 600;
    font-size: 20px;
    color: rgb(29, 25, 25);
}

.shipping_modal_line {
    height: 1px;
    margin: 50px 0px;
    padding: 0px;
}

.shipping_address_input_container {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.shipping_address_input {
    width: 100%;
    padding: 8px 10px;
    outline: none;
    border: 1px solid rgb(201, 201, 244);
    border-radius: 5px;
}

.shipping_modal_close {
    margin-top: 40px;
    display: flex;
    justify-content: end;
    width: 98%;
}

.shipping_modal_close_btn, .shipping_modal_save_btn {
    margin: 1px;
    padding: 5px 40px;
    outline: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: white;
}

.shipping_modal_close_btn {
    background: #ef8341;
}

.shipping_modal_save_btn {
    background: #413d3a;
}