
.cartDetailsView-container{
  position: fixed;
  width: 320px;
  height: 94vh;
  padding: 5px;
  border: 1px solid gainsboro;
  background: #ffffff;
  top: 60px;
  margin-left: 83.22%;
  transform: translateX(350px);
  transition: transform 250ms ease-in-out;
  font-weight: 500;

 
}
.cartDetailsView-container-toggle{
  transform: translateX(0px);
  z-index: 999;
}
.cartDetailsView-header{
  height: 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 15px 15px 15px;
  background: #ef8341;
  color: #ffffff;
}
.cartDetailsView-header i{
  font-size: 20px;
  cursor: pointer;
}
.cartDetailsView-content{
  height: 80%;
  overflow: scroll;
}
.cartDetailsView-content::-webkit-scrollbar {
  display: none; 
}
.cartDetails {
  width: 100%;
  border: 1px solid gainsboro;
  margin: 10px 0px;
  display: flex;
}
.cartDetails img{
  width: 50px;
  
}
.cart-content-qty-container{
  width: 100%;
  padding: 5px;
}
.cart-content{
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 12px;
}
/* .cart-content span {
  font-size: 17px;
  font-weight: 600;
} */
.cartTitleQty{
  display: flex;
  align-items: center;
  margin-left: 10px;
  font-size: 11px;
}

.cartTitleQty small{
  margin-right: 5px;
}
.cart-quantity{
  width: auto;
  display: flex;
}
.quantity-set {
  width: 90px;
  height: 30px;
  border: 0.5px solid gainsboro;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.qtyCount-number {
  font-size: 14px;
}
.cartMinusBtn, .cartPlusBtn {
  cursor: pointer;
  background: gainsboro;
  padding: 0px 2px;
  color: rgb(0, 0, 0);
  font-size: 20px;
}

.cartItemDeleteBtn{
 color: #ef8341;
 font-size: 14px;
 cursor: pointer;
}

.cart-total-container{
  height: 10%;
  background: rgb(150, 150, 150);
  color: #ffffff;
  bottom: 0;
  padding: 10px;
  text-align: center;
}
.cart-total-container button{
  width: 100%;
  border: none;
  padding: 7px 20px;
  background: #ef8341;
  color: #ffffff;
  border-radius: 5px;
  margin-top: 2px;
}

@media screen and (max-width: 1600px) {
  .cartDetailsView-container-toggle{
    margin-left: 80.30%;
  }

}
@media screen and (max-width: 1550px) {
  .cartDetailsView-container-toggle{
    margin-left: 79.50%;
  }

}
@media screen and (max-width: 1500px) {
  .cartDetailsView-container-toggle{
    margin-left: 78.50%;
  }

}
@media screen and (max-width: 1450px) {
  .cartDetailsView-container-toggle{
    margin-left: 78%;
  }

}
@media screen and (max-width: 1400px) {
  .cartDetailsView-container-toggle{
    margin-left: 77.50%;
  }

}
@media screen and (max-width: 1350px) {
  .cartDetailsView-container-toggle{
    margin-left: 76.50%;
  }

}
@media screen and (max-width: 1300px) {
  .cartDetailsView-container-toggle{
    margin-left: 75.50%;
  }

}
@media screen and (max-width: 1270px) {
  .cartDetailsView-container-toggle{
    margin-left: 75%;
  }

}
@media screen and (max-width: 1250px) {
  .cartDetailsView-container-toggle{
    margin-left: 74.50%;
  }

}
@media screen and (max-width: 1230px) {
  .cartDetailsView-container-toggle{
    margin-left: 74%;
  }

}
@media screen and (max-width: 1230px) {
  .cartDetailsView-container-toggle{
    margin-left: 74%;
  }

}
@media screen and (max-width: 1200px) {
  .cartDetailsView-container-toggle{
    margin-left: 73.50%;
  }

}
@media screen and (max-width: 1170px) {
  .cartDetailsView-container-toggle{
    margin-left: 73%;
  }

}
@media screen and (max-width: 1150px) {
  .cartDetailsView-container-toggle{
    margin-left: 72.50%;
  }

}
@media screen and (max-width: 1100px) {
  .cartDetailsView-container-toggle{
    margin-left: 71%;
  }

}
@media screen and (max-width: 768px) {
  .cartDetailsView-container-toggle{
    width: 100%;
    padding: 5px 5px 24px 5px;
    margin-left: 84.30%;
    transform: translateX(-84.5%);
    z-index: 999;
  }
  .cartDetailsView-content{
    height: 75%;
    overflow: scroll;
  }
  .cart-total-container{
    height: 15%;
    padding: 10px;
  }
  .cart-total-container button{
    margin-top: 2px;
  }
}