.confirm_order_img{
    background: aliceblue;
    width: auto;
    text-align: center;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 20px 40px;
}
.confirm_order_img img {
    width: 140px;
}
.back_to_shipping{
    text-align: center;
    margin: 80px 0px 20px 0px;
}
.back_to_shipping button {
    background: #2b3445;
    color: white;
    padding: 8px 30px;
    border-radius: 5px;
    border: none;
}