.order_table_head {
    background: #ef8341;
    color: white;
}

.order_detail_card {
    height: 335px;
    border: none;
    border-radius: 7px;
    font-family: "Kanit", sans-serif;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    overflow: hidden;
    transition: all 0.3s;
}

.order_table_info_div {
    text-align: end;
}

.order_detail_list {
    border: 1px solid #ececfb;
}


.for-tab-img img {
    height: 60px;
    width: 60px;
    cursor: pointer;
}

.for-glaxy-name {
    text-align: center;
    cursor: pointer;
}

.track_order_btn {
    text-align: center;
    margin-top: 20px;
}
.track_order_btn button{
    background: #ef8341;
    color: white;
    text-align: center;
    padding: 10px 80px;
    border-radius: 5px;
    border: none;
}